# https://editorconfig.org
root = true

[*]
max_line_length = 140

[*.{kt,kts}]
ktlint_code_style = intellij_idea

ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false

ktlint_standard_comment-wrapping = disabled
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_enum-entry-name-case = disabled
ktlint_standard_function-signature = disabled